<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>-->
{% extends 'Admin index.html' %}
{% block body %}
<body><h1><center>Manage course</center></h1><br>
<form id="form1" name="form1" method="post" action="add_course">
  <div align="center">
    <table width="430" height="267" border="1" id="customers">
      <tr>
        <th width="267" scope="col">Course name </th>
        <th width="147" scope="col">&nbsp;</th>
      </tr>
      {%for i in value%}
      <tr>
        <td>{{i[1]}}</td>
        <td><label><a href="delete_course?id={{i[0]}}">Delete</a></label></td>
      </tr>
      {%endfor%}
      </table><br>
     <center><input type="submit" name="Submit" value="Add" class="btn btn-info" /></center>
  </div>
</form>
</body>
{% endblock %}

</html>
