<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'Admin index.html' %}
{% block body %}
<body>
<h1><center>Feedback</center></h1><br>
<form id="form1" name="form1" method="post" action="view_feedback">
  <div align="center">
    <table width="475" height="235" border="1" id="customers">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Feedback</th>
        <th scope="col">Date</th>
      </tr>{% for i in value %}
      <tr>
        <td>{{i[0]}} {{i[1]}}</td>
        <td>&nbsp;{{i[4]}}</td>
        <td>{{i[5]}}</td>
      </tr>      {% endfor %}

      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
